<div class="min-h-screen flex justify-center items-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow w-[400px]">

    <h2 class="text-xl font-semibold mb-4">Verify your email</h2>

    <p class="text-sm mb-2">OTP sent to: <b>{{ email }}</b></p>

    <input
      class="w-full border p-2 rounded mb-3"
      placeholder="Enter OTP"
      [(ngModel)]="otp"
    />

    <button
      class="w-full bg-blue-500 text-white p-2 rounded"
      (click)="verify()">
      Verify Email
    </button>

    <p class="text-red-500 mt-2" *ngIf="error">{{ error }}</p>
    <p class="text-green-500 mt-2" *ngIf="success">{{ success }}</p>

  </div>
</div>
