/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


.google-sans-code-500 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.animate-pop {
  animation: pop 0.15s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scaleIn 0.15s ease-out;
}


@keyframes pop {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
