/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


.google-sans-code-500 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}